* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

body {
  background: #dddddd;
}

main {
  background: #f4f5f7;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: #888888;
  width: 100%;
  color: white;
  text-align: center;
  padding: 30px 0px;
}

/*ヘッダー*/
.nav {
  position:fixed;
  top: 0px;
  left: 0px;
}

.nav {
  background: #888888;
  width: 100%;
  overflow: hidden;
}

.nav p {
  float: left;
  font-size: 20px;
  font-family: 'Great Vibes', cursive;
  padding: 5px 5px;
  color: white;
  margin-left: 20px;
}

.nav_button {
  justify-content: center;
  float: right;
  margin-right: 10px;
}

#button {
  outline: none;
  border: none;
  background-color: rgba(136,136,136,1);
  padding: 7px 10px;
  color: white;
}

#button:hover {
  background-color:rgba(255,0,0,0.2);
}

a {
  text-decoration: none;
}

/*ヘッドワッパ〜*/
.head_wrapper {
  margin-top: 35px;
  padding-top: 80px;
  text-align: center;
  background-image: url(sky_background.jpeg);
  background-size: cover;
  padding-bottom: 100px;
}

.head_wrapper h1 {
  font-family: 'Great Vibes', cursive;
}

.hwp {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

/*設定系のbox*/
.box1 a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: /*#94bcb7*/#3e687b;
  width: 200px;
  height: 200px;
  /*align-content: flex-start;*/
  text-align: center;
  justify-content: space-around;
}

.sel {
  justify-content: space-around;
  overflow: hidden;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
}

.box1 p {
  background: #b3d0d7;
  padding: 10px 0px;
}

#lay {
  width: 200px;
  height: 20px;
  background: black;
}

.select {
  width: 200px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
}

.box1 a :hover {
  opacity: 0.6;
  background: rgba(62,104,125,0.5);
}

span {
  display: inline-block;
  margin-top: 80px;
}

.box1 {
  padding-top: 60px;
  overflow: hidden;
}

.box1 {
  margin-left: 20px;
  pdding-top: 30px;
  margin-bottom: 500px;
}

.button {

}

.kyo {
  background: black;
  display: inline-block;
  clear: left;
  margin-top: 10px;
}

.box1 h2 {
  margin-left: 10px;
  display: inline-block;
  background: #b3d0d7;
  padding: 20px;
  width: auto;
}
